body {
    background-image: url('e.jpg'); /* Specify the path to your image file */
    background-size:350px 300px;
    background-repeat: repeat;
    font-size: 18px;
    color:rgb(53, 2, 28);
    padding: 20px;
    animation: colorFade 5s infinite;
}
@keyframes colorFade {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}
.container{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.happy{
    font-style: italic;
    text-align: center;
}
.click-button {
    background-color: #d13013;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.click-button:hover {
    background-color: #3d0226;
}




